// npm install node-sass
// npm install --dev react-native-sass-transformer
// npm install --save-dev babel-plugin-react-native-platform-specific-extensions
// npm install expo-linear-gradient

@import 'colors';

$footerButton-padding-vertical: 20;
$footerButton-padding-hotisonal: 70;
$gradientColors: $bgColor, $header;
.container {
  //TODO: Font-family

  flex: 1;
  background-color: $bgColor;
  text-align: center;
  display: flex;

  flex-direction: column;
}

.header {
  display: flex;
  font-size: 40;
  text-align: center;

  color: $whiteTextColor;

  padding-top: 10;
  padding-bottom: 10;
  margin-top: 37; //(Tas bort sen) Bara för Samsung S10
}

.footer {
  display: flex;
  flex-direction: row;

  background-color: $footer;
  color: $whiteTextColor;

  margin-top: auto;
  // align-self: center;
  // padding-top: 10;
  // padding-bottom: 10;
}

.footerChat {
  margin-right: auto;
  margin-left: auto;

  color: $whiteTextColor;

  padding-top: $footerButton-padding-vertical;
  padding-bottom: $footerButton-padding-vertical;
  padding-left: $footerButton-padding-hotisonal; //ska ändras
  padding-right: $footerButton-padding-hotisonal; //ska ändras

  background-color: $footer;
  text-align: center;
}

.footerWatch {
  margin-right: auto;
  margin-left: auto;

  color: $whiteTextColor;

  padding-top: $footerButton-padding-vertical;
  padding-bottom: $footerButton-padding-vertical;
  padding-left: $footerButton-padding-hotisonal; //ska ändras
  padding-right: $footerButton-padding-hotisonal; //ska ändras

  align-self: flex-end;
  background-color: $footer;
}

.instructions {
  color: $textColor;
  margin-bottom: 5;
  text-align: center;
}

.backButton {
  font-size: 15;
  text-align: left;
}
